<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
            <!--<PatternLayout pattern="%highlight{%d [%t] %-5level: %msg%n%throwable}{FATAL=white, ERROR=red, WARN=blue, INFO=black, DEBUG=green, TRACE=blue}"/>-->
        </Console>
        <!-- File Appender -->
        <!--<File name="File" fileName="applogs/app.log">-->
            <!--<PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />-->
            <!--<Policies>-->
                <!--<SizeBasedTriggeringPolicy size="5 MB" />-->
            <!--</Policies>-->
            <!--<DefaultRolloverStrategy max="4"/>-->
        <!--</File>-->
        <!-- Rolling File Appender -->
        <!--<RollingFile name="RollingFile" fileName="webserviceqlcb/applogs/qlcb.log" filePattern="webserviceqlcb/applogs/size-based-logs/%d{yyyy-MM-dd-hh-mm}.log">-->
        <RollingFile name="RollingFile" fileName="data/app/webapp/blogapp/log/blogapp.log" filePattern="data/app/webapp/blogapp/log/size-based-logs/%d{yyyy-MM-dd-hh-mm}.log">
            <!--<FilePattern>C:/log/time-based-logs/%d{yyyy-MM-dd-hh-mm}.log.zip</FilePattern>-->
            <PatternLayout>
                <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <!--<TimeBasedTriggeringPolicy interval="2" modulate="true" />-->
                <SizeBasedTriggeringPolicy size="10mb" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Log everything in custom package -->
        <Logger name="org.hibernate.SQL" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Logger>
        <Logger name="com.soap.qlcb" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Logger>
        <!-- Log everything in Spring Boot -->
        <!--<Logger name="org.springframework.boot" level="debug" additivity="false">-->
            <!--<AppenderRef ref="Console" />-->
        <!--<AppenderRef ref="File" />-->
        <!--</Logger>-->

        <!--&lt;!&ndash; Log everything in Spring Core &ndash;&gt;-->
        <!--<Logger name="org.springframework.core" level="debug" additivity="false">-->
            <!--<AppenderRef ref="Console" />-->
            <!--<AppenderRef ref="File" />-->
        <!--</Logger>-->

        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>