<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head th:replace="layout :: site-head">
    <title>Tinh thanh detail</title>
</head>

<body>
<div th:replace="layout :: site-top"></div>
<header th:replace="layout :: site-header"></header>
<div class="container">
    <p th:text="${tinhThanh.maTinhThanh}"></p>
    <p th:text="${tinhThanh.tenTinhThanh}"></p>
    <p th:text="${tinhThanh.maVuTaiChinh}"></p>
    <p th:text="${tinhThanh.id}"></p>
</div>

<footer th:replace="layout :: site-footer">
</footer>
</body>
</html>