<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head th:replace="layout :: site-head">
    <title>Welcome to Spring MVC Blog</title>
</head>

<body>
<div th:replace="layout :: site-top"></div>
<header th:replace="layout :: site-header"></header>
<!--<h1>Welcome to Spring MVC</h1>-->
<!--Now is: <b th:text="${execInfo.now.time}">date and time</b>-->
<div class="container">
    <a th:href="@{/myexcel}">
        <button>Click here Excel</button>
    </a>
    <a th:href="@{/myPdf}">
        <button>Click here PDF</button>
    </a>
    <a th:href="@{/home}" th:value="Home">Home</a>
</div>
<div class="container">
    <input type="checkbox" th:onclick="${'toggle(this);'}" name="abc"/> Toggle All<br/>

    <input type="checkbox" name="foo" value="bar1" th:onclick="${'untoggle();'}"> Bar 1<br/>
    <input type="checkbox" name="foo" value="bar2" th:onclick="${'untoggle();'}"> Bar 2<br/>
    <input type="checkbox" name="foo" value="bar3" th:onclick="${'untoggle();'}"> Bar 3<br/>
    <input type="checkbox" name="foo" value="bar4" th:onclick="${'untoggle();'}"> Bar 4<br/>

    <a th:href="@{/logout}" th:value="Logout">Logout
    </a>
    <img th:src="@{https://platform-lookaside.fbsbx.com/platform/profilepic/?asid={idFb}&height=50&width=50&ext=1531642761&hash=AeTmb4P4akVb6Lnm(idFb=${idFb})}">
    <div class="card">
        <div class="card-body">

            <div class="table-wrapper-2">

                <!--Table-->
                <table class="table table-responsive-md">
                    <thead class="mdb-color lighten-4">
                    <tr>
                        <th class="th-lg">Mã Tỉnh Thành</th>
                        <th class="th-lg">Tên Tỉnh Thành</th>
                        <th class="th-lg">Mã Vụ Tài Chính</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--<div th:each="p : ${dmTinhThanh}">-->
                    <!--<tr th:if="${p.id} % 2==0" class="danger">-->
                    <!--<a th:href="@{/tinhThanh/view/{id}/(id=${p.id})}">-->
                    <!--<td th:text="${p.maTinhThanh}"></td>-->
                    <!--</a>-->
                    <!--<td th:text="${p.tenTinhThanh}"></td>-->
                    <!--<td th:text="${p.maVuTaiChinh}"></td>-->
                    <!--</tr>-->
                    <!--<tr th:if="${p.id} % 2!=0" class="warning">-->
                    <!--<a th:href="@{/tinhThanh/view/{id}/(id=${p.id})}">-->
                    <!--<td th:text="${p.maTinhThanh}"></td>-->
                    <!--</a>-->
                    <!--<td th:text="${p.tenTinhThanh}"></td>-->
                    <!--<td th:text="${p.maVuTaiChinh}"></td>-->
                    <!--</tr>-->
                    <!--</div>-->
                    <tr th:each="p : ${dmTinhThanh}">
                        <td th:text="${p.maTinhThanh}"></td>
                        <td th:text="${p.tenTinhThanh}"></td>
                        <td th:text="${p.maVuTaiChinh}"></td>
                        <td>USA</td>
                        <td>New York City</td>
                        <td>Web Designer</td>
                        <td>23</td>
                        <td>USA</td>
                        <td>New York City</td>
                        <td>Web Designer</td>
                        <td>23</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--<a href="#"  th:text="${p.tenTinhThanh}" th:href="@{/tinhThanh/view/{id}/(id=${p.id})}">-->
    <!--Work Begins on-->
    <!--HTML5.1-->
    <!--</a>-->
    <br>
</div>

<footer>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>
</footer>
<script language="JavaScript">
    function toggle(source) {
        checkboxes = document.getElementsByName('foo');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }

    function untoggle(source) {
        checkboxe = document.getElementsByName('abc');
        for (var i = 0, n = checkboxe.length; i < n; i++) {
            check = true;
            checkboxes = document.getElementsByName('foo');
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                if (!checkboxes[i].checked) {
                    check = false;
                }
            }
            if (check) {
                for (var i = 0, n = checkboxe.length; i < n; i++) {
                    checkboxe[i].checked = true;
                }
            } else {
                for (var i = 0, n = checkboxe.length; i < n; i++) {
                    checkboxe[i].checked = false;
                }
            }

        }

    }
</script>
</body>

</html>